{% extends 'padre.html' %}

{% block titulo %}
  Búsqueda Usuarios
{% endblock titulo %}
  
{% block cambios1 %}
  
  <h3>Lista de usuarios</h3>

  
  {% if usuarios %}
    <ul>
      {% for usuario in usuarios %}
        <li>Nombre de usuario: {{usuario.usuario}} - ¿Es profesional? {{usuario.profesional}} - Fecha de registro: {{usuario.fecha_registro}}</li>
      {% endfor %}
    </ul>
  {% else %}
    <p>No se encontraron publicaciones con esos datos</p>

  {% endif %}
    

    
  
{% endblock cambios1 %}