{% extends 'padre.html' %}
{% block titulo %}
    Perfil de {{ perfil.nombre }}
{% endblock titulo %}
{% block cambios1 %}
<header class="py-5 bg-light border-bottom mb-4">
    <div class="container">
        <div class="text-center my-5">
            <h1 class="fw-bolder">Perfil de {{ perfil.nombre }} {{ perfil.apellido }}</h1>
        </div>
    </div>
</header>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ perfil.nombre }} {{ perfil.apellido }}</h5>
                    <p class="card-text"><strong>Email:</strong> {{ perfil.email }}</p>
                    <p class="card-text"><strong>Biografía:</strong> {{ perfil.biografia }}</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock cambios1 %}