{% extends 'padre.html' %}


{% block cambios1 %}

{% load static %}

<header class="py-5 bg-light border-bottom mb-4">
    <div class="container">
        <div class="text-center my-5">
            <h1 class="fw-bolder">Sobre Nosotros!</h1>
            <div class="container text-center"></div>
                <img class="lead mb-0" class="text-center my-5" src="{% static 'assets/images/psicologia.png' %}" alt="Sobre Nosotros" class="img-fluid my-4">
            </div>
            <p class="lead mb-0">La Bitacora es una propuesta psicológica que intenta acercar a los profesionales de distintas corrientes para motivar el intercambio y la profundización sobre la salud mental.</p>
            <p class="lead mb-0">Pero para poder ordenar el contenido se propone la división, solo a fines prácticos, de las diferentes corrientes.</p>
            <p class="lead mb-0">El buen trato y el respeto harán de este espacio un lugar propicio para el intercambio, fomentando así los valores que diariamente proponemos en nuestra labor, con el horizonte puesto en el ejercicio Ético de la profesión.</p>
        </div>
    </div>
</header>

{% endblock cambios1 %}
    